@import 'reset-css';

$mainRedColor: #E33642;
$main-background-color: #E5E5E5;
$colorWh: #FFFFFF;


html {
    font-size: calc(100vw / 144);
    @media screen and (max-width:1024px) {
        font-size: calc(100vw / 76.8);
    }
}
body { 
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    * {
        cursor: none;
        color: $mainRedColor;
        text-transform: uppercase;
        letter-spacing: 0.12em;
    }
}
a {
    text-decoration: none;
    font-size: 2.4rem;
    @media screen and (max-width:768px) {
        font-size: 1.2rem;
    }
}
img {
    width:100%;
}
